body{
    margin:0;
    font-family:Arial;
    background:#0a0a0a;
    color:white;

    transition: background-color 2s ease;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:80px;
  margin:0;
}

.hero p{
  color:#999;
}

.portfolio,
.about,
.contact{
  max-width:1200px;
  margin:auto;
  padding:80px 20px;
}

.card{
  margin-bottom:60px;
}

.card img{
    width:85%;
    max-width:1000px;

    display:block;
    margin:0 auto;

    border-radius:12px;
}

.card h3{
  margin-top:20px;
  text-align:center;
}

.card p{
  color:#aaa;
  text-align:center;
}

h2{
  font-size:42px;
}

.card{
  margin-bottom:60px;

  opacity:0;
  transform:translateY(50px);

  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.card.show{
  opacity:1;
  transform:translateY(0);
}
.hero h1{
  font-size:80px;
  margin:0;

  opacity:0;
  transform:translateY(30px);

  animation:fadeUp 1.5s ease forwards;
}

.hero p{
  color:#999;

  opacity:0;
  transform:translateY(30px);

  animation:fadeUp 1.5s ease forwards;
  animation-delay:0.5s;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(30px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

.chapter-title{
  min-height:50vh;

  display:flex;
  flex-direction:column;
  justify-content:center;

  opacity:0;
  transform:translateY(40px);

  transition:all 1.2s ease;
}

.chapter-title.show{
  opacity:1;
  transform:translateY(0);
}

.chapter-title h2{
  font-size:72px;
  margin:0;
}

.chapter-title p{
  color:#b7c8d8;
  margin-top:20px;
  font-size:18px;
  letter-spacing:3px;
}

.portfolio{
  background:#253547;
}
